footer.footer
	a.link._link(href="#" target="_blank" rel="noopener noreferrer") #visitSEDONA
	ul.socials._socials
		each social of socials
			li
				a.button._link(href=social.link, target="_blank" rel="noopener noreferrer")=social.text

	small._copyright
		a.link(href="https://htmlacademy.ru/intensive/adaptive" target="_blank" rel="noopener noreferrer").copyright="Разработано: "
			img(src="#" alt="HTML Академией.")
