footer.footer
	a(href="#" target="_blank" rel="noopener noreferrer")._link #visitSEDONA
	.main-footer__hashtag.hashtag

	ul.socials._socials
		each social of socials
			li._item
				a(href=social.link, target="_blank" rel="noopener noreferrer")=social.text

	small._copyright
		a(href="https://htmlacademy.ru/intensive/adaptive" target="_blank" rel="noopener noreferrer").copyright="Разработано: "
			img(src="#" alt="HTML Academy")
