-
	const isMainPage = currentPage === 'index.html'
header.header
	a(href=isMainPage ? undefined : 'index.html',
		tabindex=isMainPage ? undefined : -1)._logo
		img(src='img/logo-city-of-sedona.svg' width='185' height='96' alt='Герб Седоны.')

	nav.main-nav._nav
		button._toggle(type='button')
			span.page__hidden Открыть меню

		ul._list
			each href, text in navigation
				- const isCurrentPage = currentPage === href
				li
					a(href=href, aria-current=isCurrentPage ? 'page' : undefined)=text
