-
	const isMainPage = currentPage === 'index.html'
header.header
	a(href=isMainPage ? undefined : 'index.html',
		tabindex=isMainPage ? undefined : -1)._logo
		img(src='img/logo-city-of-sedona.svg' width='185' height='96' alt='Герб Седоны.')

	nav.main-nav._nav
		button._toggle(type='button' aria-label='Открыть меню' hidden=true)
		ul._list.page__no-list
			each href, text in navigation
				- const isCurrentPage = currentPage === href
				li._item
					a._link(href=href, aria-current=isCurrentPage ? 'page' : undefined)=text
