if isMainPage
	section.hero
		h1.page__hidden Добро пожаловать в прекрасную Седону!
		+spriteIcon({href: `img/intro.svg#full`, width: 282, height: 214, label: "Потому что Гранд Каньон отстой!", className: 'hero__icon', id: 'intro'})
else
	.hero.-inner
		+spriteIcon({href: `img/intro.svg#sedona`, width: 229, height: 39, label: "Седона.", className: 'hero__icon', id: 'intro'})
