if isMainPage
	section.hero
		h1.page__hidden Добро пожаловать в прекрасную Седону!
		img._logo(src='img/title.svg' alt='Потому что Гранд Каньон отстой!' width=282 height=214)
else
	.hero.-inner
		img.hero__logo(src='img/catalog/sedona.svg' alt='Седона.')
