.choose {
	text-align: left;

	font-weight: 700;
	font-size: 18px;
	line-height: 1.44;
	text-transform: none;

	cursor: pointer;

	display: flex;
	gap: 16px;

	align-content: center;
	align-items: center;

	&__input {
		accent-color: currentColor;
		font: inherit;

		appearance: none;
		inline-size: 46px;
		block-size: 46px;

		border-radius: 4px;

		border: none;
		margin: 0;
		padding: 12px;

		transition-property: border-color, box-shadow;
		transition-duration: 120ms;
		transition-timing-function: ease-in-out;

		flex-shrink: 0;

		--background-chose: hsl(0, 0%, 95%);

		background-color: var(--background-chose);

		display: grid;

		&::after {
			content: "";
			aspect-ratio: 1;
			transform: scale(var(--is-checked, 0));
			transition: 120ms transform ease-in-out;
			background-color: hsl(0, 0%, 20%);
		}

		&[type="radio"],
		&[type="radio"]::after {
			border-radius: 50%;
		}

		&[type="checkbox"]::after {
			mask: url("../img/sprite.svg#tick") no-repeat center/contain;
		}

		&:checked {
			--is-checked: 1;
		}

		&:disabled {
			opacity: 0.4;
		}
	}
}
