@use "mixins";
@use "variables" as *;

.footer {
	color: #000000;
	padding-block: 33px;
	padding-inline: var(--side-offset, 20px);
	display: grid;
	gap: 30px;
	justify-items: center;

	&__link {
		@include mixins.mobile-headline();
	}

	&__copyright {
		font-size: 14px;
		line-height: 1.5;
	}


	@media (width >= $bpTablet)  {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: 36px;
	}
}
