@use "variables" as *;
@use "mixins";

.gallery {
	text-align: center;
	padding: 36px 0 0;

	&__title {
		margin: 0 auto 1em;
	}

	&__text {
		margin: 0 auto 30px;
		max-width: 458px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}

	&__item {
		border-bottom: 1px solid #e5e5e5;

		&:first-child {
			border-top: 1px solid #e5e5e5;
			grid-column: 1 / -1;
		}
	}

	@media (width >= $bpTablet) {
		padding: 62px var(--side-offset) 0;
		&__item {
			border: none;
		}
	}

	@media (width >= $bp🖥️) {
		padding: 100px 0 0;
	}
}
