@use "mixins";
@use "variables";

.hero {
	background: {
		color: #00d8fb;
		image: url(https://picsum.photos/320/389);
		position: center;
		size: cover;
	}
	color: variables.$main-light;
	display: grid;
	place-items: center;
	text-align: center;
	min-height: 389px;
	padding: 20px;
	position: relative;
	overflow: hidden;

	&::after {
		content: "";
		background-color: var(--back-c);
		position: absolute;
		bottom: -1px;
		left: -0.5%;
		height: 27px;
		width: 101%;
		clip-path: polygon(0 100%, 0 0, 50% 100%, 100% 0%, 100% 100%);
	}

	&--inner {
		min-height: 158px;
		background-image: url(https://picsum.photos/320/158);
	}

	@media (width >= variables.$earlyBP) {
		min-height: 518px;
		background-image: url(https://picsum.photos/768/518);

		&__logo {
			width: 462px;
			height: 350px;
		}

		&::after {
			height: 57px;
			clip-path: polygon(0 100%, 0 15%, 10% 42%, 10% 0%, 50% 97%, 90% 0%, 90% 42%, 100% 15%, 100% 100%);
		}

		&--inner {
			min-height: 290px;
			background-image: url(https://picsum.photos/320/290);
		}

		&--inner &__logo {
			width: 460px;
			height: 78px;
		}
	}

	@media (width >= 58rem) {
		background-image: url(https://picsum.photos/1200/518);

		&::after {
			clip-path: polygon(0 100%, 0 0, 21.2% 42%, 21.2% 0%, 50% 97%, 78.8% 0%, 78.8% 42%, 100% 0, 100% 100%);
		}

		&--inner {
			min-height: 301px;
			background-image: url(https://picsum.photos/1200/301);
		}
	}
}
