@use "mixins";
@use "variables" as *;

.page {
	--side-offset: 20px;

	background-color: $page-bg;
	font-family: "PT Sans", system-ui, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-transform: uppercase;
	color: hsl(0deg 0% 20%);
	height: 100%;


	min-width: 300px;

	&__body {
		--back-c: #{$main-light};
		background-color: var(--back-c);
		box-shadow: 0px 5px 15px hsla(180, 100%, 0%, 0.2);

		margin: 0 auto;
		max-width: 1200px;
		min-height: 100%;

		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	&__title, &__subtitle {
		color: hsl(0deg 0% 0%);
		@include mixins.mobile-headline();
	}



	&__hidden {
		border: 0;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	&__no-list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	@media (width >= $bpTablet) {
		--side-offset: 60px;
		&__subtitle {
			font-size: calc(21 / 14 * 1em);
			line-height: 1.24;
		}

		&__title {
			font-size: calc(30 / 14 * 1em);
			line-height: 0.87;
		}
	}

	@media (width >= $bp🖥️) {
		--side-offset: 120px;
	}
}
