@use "variables" as *;

.search-hotel {
	text-align: center;
	padding: 38px 18px 48px;

	&__title {
		margin: 0 auto 21px;
	}

	&__description {
		margin: 0 auto 32px;
		max-width: 438px;
	}

	&__button {
		width: 100%;
		max-width: 458px;
		margin: 0 auto;
	}

	@media (width < $earlyBP) {
		padding: 60px 18px 58px;
		&__button {
			padding: 14px 18px 18px;
		}
	}
}
