@use "variables";
.video {
	background-color: variables.$accent;
	position: relative;
	border: none;
	isolation: isolate;
	cursor: pointer;

	&__play {
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
		background-color: transparent;
		border: none;
		padding: 0;
		margin: 0;
		outline: none;
		cursor: pointer;

		transition: {
			property: scale;
			duration: 200ms;
			timing-function: ease-in;
		}
	}

	&__icon {
		transition: {
			property: fill-opacity;
			duration: 200ms;
			timing-function: ease-in;
		}

		transform-origin: center;
	}

	&__play:is(:focus-visible, :hover) {
		scale: 1.7;

		& .video__icon {
			fill-opacity: 1;
		}
	}

	&__play:is(:focus-visible, :hover) &__icon {
		fill-opacity: 1;
	}


	&__image {
		width: 100%;
		height: 100%;
	}

	&__link {
		width: 100%;
		height: auto;

		display: flex;
	}
}
