@use 'variables.scss';

@mixin mobile-headline {
	font: {
		weight: 700;
		size: calc(18 / 14 * 1rem);
	}
	line-height: calc(26 / 18);
}

@mixin button-colors {
	--back: #{variables.$accent};
	color: variables.$main-light;
	background-color: var(--back);
	outline-color: var(--back);

	&:is(:hover, :focus-visible) {
		--back: hsl(203, 42%, 58%)
	}

	&:active {
		--back: hsl(202, 44%, 54%);
		color: rgba($color: variables.$main-light, $alpha: 0.3);
	}
}


@mixin link-styles {
	color: inherit;
	outline: {
		color: currentColor;
		offset: 0.4em;
	}
	text: {
		decoration: none;
		transform: uppercase;
	}

	&:is(:hover, :focus-visible) {
		color: variables.$accent;
	}

	&:active {
		color: hsl(0deg 0% 0% / 30%);
	}
}

@mixin adaptive-bg($image, $ext: ".jpg") {
	background: {
		// image: url($image + $ext);
		image: image-set(
			url($image + "@3x.avif") type("image/avif") 3x,
			url($image + "@2x.avif") type("image/avif") 2x,
			url($image + ".avif") type("image/avif") 1x,
			url($image + "@3x.webp") type("image/webp") 3x,
			url($image + "@2x.webp") type("image/webp") 2x,
			url($image + ".webp") type("image/webp") 1x,
			url($image + "@3x" + $ext) 3x,
			url($image + "@2x" + $ext) 2x,
			url($image + $ext) 1x
		);
		image: image-set(url($image + "@3x" + $ext) 3x, url($image + "@2x" + $ext) 2x, url($image + $ext) 1x);
	}
}
