extends common/base

block main
	include ./includes/advantages
	include ./includes/search-hotel
	.map
		img(src='img/map-mobile.jpg' width=320 height=350 alt='Карта c указанием местоположения Седоны.')
