section.video-presentation
	h2.page__hidden Видеопрезентация
	p._header
		strong._title.page__title Все еще сомневаетесь?
		| Смотрите видеопрезентацию и скорее за билетами, пока они не подорожали в очередной раз!
	.video._video
		a(href="https://youtu.be/b4AQAzsstaM", target="_blank", rel="noopener noreferrer")._link
			img._image(src='img/catalog/video.jpg' width=280 height=177 alt='Тур по Седоне.')
		button(hidden aria-label="Воспроизвести видео")._play
			+placeholderIcon({width: 48, height: 54, fill: 'white' })._icon
