section.video-presentation
	h2.page__hidden Видеопрезентация
	p._header
		strong._title Все еще сомневаетесь?
		| Смотрите видеопрезентацию и скорее за билетами, пока они не подорожали в очередной раз!
	.video._video
		a(href="https://youtu.be/aINnRg-Qzn0", target="_blank", rel="noopener noreferrer")._link
			img._image(src='img/catalog/video.jpg' width=280 height=177 alt='Тур по Седоне.')
		button(hidden aria-label="Воспроизвести видео")._play
